<div class="container">

  <div class="row vertical-center-row">
    <div class="col-lg-12">
      <div class="row text-center">
        <h1 style="margin-bottom:20px">Hi! I'm Gabe.</h1>
      </div>
      <div class="row text-center">
        <img class="img-circle" src="<%= image_path('gabe_face.jpg') %>"/>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-1 col-md-offset-3">
          <a target='_parent' href='http://www.linkedin.com/in/gabegsell' class='symbol'
             title='roundedlinkedin'></a></div>
        <div class="col-xs-2 col-md-1"><a target='_parent' href='http://www.soundcloud.com/gabergg' class='symbol'
                                 title='roundedsoundcloud'></a></div>
        <div class="col-xs-2 col-md-1"><a target='_parent' href='http://www.github.com/gabergg' class='symbol'
                                 title='roundedgithubalt'></a></div>
        <div class="col-xs-2 col-md-1"><a target='_parent' href='http://www.gabeyoubum.tumblr.com' class='symbol'
                                 title='roundedtumblr'></a></div>
        <div class="col-xs-2 col-md-1"><a target='_parent' href='http://www.facebook.com/gabe.gsell' class='symbol'
                                 title='roundedfacebook'></a></div>
        <div class="col-xs-2 col-md-1"><a target='_parent' href='http://www.flickr.com/photos/gabegsell' class='symbol'
                                 title='roundedflickr'></a></div>
      </div>
    </div>
  </div>

</div>