<div class="row text-center">
  <h1>I like projects.</h1>
</div>
<div class="row text-center">
  <p>Head on over to <a href="http://www.coffeenbeer.com">coffeenbeer.com</a> to see what I'm currently up to!</p>
</div>