/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("MonoSocialIconsFont-1.10.eot");
  src: url("MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("MonoSocialIconsFont-1.10.woff") format("woff"), url("MonoSocialIconsFont-1.10.ttf") format("truetype"), url("MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 13, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
body {
  background-image: url("/assets/dbpatt3.png");
  background-color: #2F3D5D;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-top: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: light;
}

/* line 24, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-weight: normal;
}

/* line 29, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
p, ul, ol {
  line-height: 1.5em;
}

/* line 33, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
.wrapper_full {
  background-image: url("/assets/wpatt1.png");
  background-color: #ffffff;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

/* line 43, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#top_bar {
  width: 100%;
  text-align: center;
  background-image: url("/assets/lbrpatt1.png");
  font-size: 20px;
}

/* line 51, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#resume_pic {
  width: 55%;
  height: auto;
  padding-top: 23px;
}

/* line 57, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#blog_pic {
  padding-top: 7px;
}

/* line 61, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#me_pic {
  padding-top: 23px;
}

/* line 65, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#top_bar ul {
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: -40px;
  display: inline-block;
}

/* line 72, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#top_bar ul li {
  display: inline;
  display: inline-block;
  background-image: url("/assets/mbr2patt2.png");
  margin-left: 25px;
  margin-right: 25px;
  opacity: .5;
  border-radius: 10px;
  border-bottom-right-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

/* line 85, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#top_bar ul li a {
  display: block;
  float: left;
  text-decoration: none;
  font-family: Georgia, serif;
  font-weight: bold;
  padding: 7px 15px 7px 15px;
  color: #ffffff;
  width: 150px;
  height: 150px;
}

/* line 98, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#all_content {
  width: 65em;
  margin: 0 auto;
  height: 600px;
}

/* line 107, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
.content {
  display: none;
  min-height: 600px;
}

/* line 113, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#portfolio_tab {
  text-align: center;
}

/* line 117, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
.blurb {
  display: inline-block;
  float: left;
  width: 25%;
  margin: 20px;
  padding: 10px;
}

/* line 126, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#leaving_tab {
  text-align: center;
}

/* line 130, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#contact_wrapper {
  width: 100%;
  background-image: url("/assets/lbrpatt1.png");
  float: left;
}

/* line 138, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#contact {
  width: 90%;
  margin: 0 auto;
  color: #000000;
  font-size: 14px;
  text-align: center;
}

/* line 146, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
.contact_sec {
  width: 20%;
  float: left;
  margin-bottom: 10px;
  margin-top: -15px;
}

/* line 153, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#social_links {
  list-style: none;
  text-align: center;
}

/* line 158, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
.social_link {
  float: left;
  display: inline;
  padding: 3px;
}

/* line 164, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#copyright {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}

/* line 171, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#copyright p {
  color: #ffffff;
}

/* line 175, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 189, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
a.symbol:before {
  content: attr(title);
  font-size: 420%;
}

/* line 194, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
a.symbol {
  padding: 3px 5px 3px 5px;
  color: white;
  text-decoration: none;
}

/* line 200, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#externals {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 206, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#externals ul {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: -40px;
  display: inline-block;
}

/* line 213, /home/gabe/Code/my_site/app/assets/stylesheets/custom.css.scss.erb */
#externals ul li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 1;
}
